
h1 {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  padding: 1%;
}

main {
  margin: 0 auto;
  width: 75%;
  background-color: rgb(255, 0, 255);
  padding: 2%;
}

body {
  background-color: rgb(154, 6, 240);
}